* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

nav {
    background-color: #ed7979;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

ul, li, a {
    list-style: none;
    display: flex;
    font-size: 27px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    margin: 0px 20px;
}

.menuBarIcon {
    height: 30px;
    order: 1;
}

.clickButton {
    background-color: #ed7979;
    padding: 5px 15px;
    height: 40px;
    width: 150px;
    border: none;
    font-size: 18px;
    color: white;
}

.section1 {
    background-image: linear-gradient(to right, #f6f7ab, #f2c7cf);
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.imgPic1 {
    width: 49vw;
    height: 90vh;
    max-width: 100%; /* Ensure image responsiveness */
   
}

aside {
    display: flex;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.section2 {
    background-image: linear-gradient(to right, #f6f7ab, #f2c7cf);
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sectionHeading {
    font-size: 40px;
    font-weight: bold;
}

.imgContainer1 {
    display: flex;
    flex-direction: column;
}

.imgContainer2 {
    display: flex;
}

.section2Imgs {
    min-width: 250px;
    max-width: 300px;
    height: 250px;
    margin: 10px;
}

.section2Imgs2 {
    min-width: 250px;
    max-width: 300px;
    max-height: 520px;
    min-height: 400px;
    height: 520px;
    margin: 10px;
}

.imgarrowIcon {
    width: 30px;
    height: 20px;
}

.paragraphText {
    font-size: 20px;
    max-width: 100%; /* Ensure text doesn't overflow */
    overflow: auto;
}

.textContainer {
    background-color: #ed7979;
    height: 200px;
    width: 350px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
}

@media (max-width: 768px) {
    .menuBarIcon {
        display: block;
        order: 0;
    }

    .menu {
        width: 100%;
    }

    aside {
        display: flex;
        width: 100vw;
    }

    nav {
        display: flex;
        flex-direction: column;
        padding: 5px;
    }

    .menu ul {
        display: flex;
        flex-direction: column;
    }

    .menu ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 12px;
    }

    .clickButton {
        background-color: #ed7979;
        padding: 5px 15px;
        height: 40px;
        width: 150px;
        border: none;
        font-size: 18px;
        color: white;
    }

    .imgPic1 {
        width: 100%;
        height: 100vh;
        
  
    }

    .section1 {
        background-image: linear-gradient(to right, #f6f7ab, #f2c7cf);
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 50px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .section2 {
        background-image: linear-gradient(to right, #f6f7ab, #f2c7cf);
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: auto;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .sectionHeading {
        font-size: 40px;
        font-weight: bold;
    }

    .imgContainer1 {
        display: flex;
        flex-direction: column;
    }

    .imgContainer2 {
        display: flex;
    }

    .section2Imgs {
        min-width: 250px;
        max-width: 300px;
        height: 250px;
        margin: 10px;
    }

    .section2Imgs2 {
        min-width: 250px;
        max-width: 300px;
        max-height: 520px;
        min-height: 400px;
        margin: 10px;
    }

    .imgarrowIcon {
        width: 30px;
        height: 20px;
    }

    .paragraphText {
        font-size: 20px;
        max-width: 100%;
    }

    .textContainer {
        background-color: #ed7979;
        height: 200px;
        width: 350px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .menuBarIcon {
        display: block;
        order: 0;
    }

    .menu {
        width: 100%;
    }

    aside {
        display: flex;
        width: 100vw;
    }

    nav {
        display: flex;
        flex-direction: column;
        padding: 5px;
    }

    .menu ul {
        display: flex;
        flex-direction: column;
    }

    .menu ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 12px;
    }

    .clickButton {
        background-color: #ed7979;
        padding: 5px 15px;
        height: 40px;
        width: 150px;
        border: none;
        font-size: 18px;
        color: white;
    }

    .imgPic1 {
        width: 100%;
        height: 100vh;
        
    }

    .section1 {
        background-image: linear-gradient(to right, #f6f7ab, #f2c7cf);
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 50px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .section2 {
        background-image: linear-gradient(to right, #f6f7ab, #f2c7cf);
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: auto;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .sectionHeading {
        font-size: 40px;
        font-weight: bold;
    }

    .imgContainer1 {
        display: flex;
        flex-direction: column;
    }

    .imgContainer2 {
        display: flex;
    }

    .section2Imgs {
        min-width: 270px;
        max-width: 330px;
        height: 250px;
        margin: 10px;
    }

    .section2Imgs2 {
        min-width: 250px;
        max-width: 330px;
        max-height: 520px;
        min-height: 400px;
        margin: 10px;
    }

    .imgarrowIcon {
        width: 30px;
        height: 20px;
    }

    .paragraphText {
        font-size: 20px;
        max-width: 100%;
    }

    .textContainer {
        background-color: #ed7979;
        height: 200px;
        width: 350px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 10px;
    }
}
